     
html {
    scroll-behavior: smooth;
}
body {
    background-color: #000;
    font-family: 'Cabin', sans-serif;
}
img {
    object-fit:cover;

}

.carrusel img{
    height: 100vh;
}
section{
    margin-top: 4rem;
}
.row{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.pt-1{
    color: #00A5BB;
    opacity: 1;
    width: 90%;
    height: 5px;
    margin-top: 4rem;
    margin-left: 5%;
    text-align: left;
}
i{
    font-size: 2.5rem;
}
h5{
    font-weight: 600;
}
p{
    font-weight: 400;
}
@media screen and (max-width: 640px) {
    section{
        display: none;
    }
}
footer{
    background-color: #00A5BB;
}
   



      
